@use "theme" as t;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: t.$font-sans;
  line-height: 1.55;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: (--link-hover);
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  line-height: 1.2;
  margin: 0 0 0.6em 0;
}

p {
  margin: 0 0 1em 0;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 2em auto;
  border-collapse: collapse;
  border-top: 1px solid #2b3b4e;
  border-bottom: 1px solid #2b3b4e;
}

table td:first-child,
table th:first-child {
  width: 33%;
}

tbody tr:nth-child(odd) {
  background-color: #1b2531;
}

thead {
  text-align: left;
}

th,
td {
  padding: 0.4em;
  border-top: 1px solid #2b3b4e;
  border-bottom: 1px solid #2b3b4e;
}