@use "theme" as t;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: t.$font-sans;
  line-height: 1.55;
  background: t.$bg;
  color: t.$text;
}

a {
  color: t.$link;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: t.$link-hover;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: t.$heading;
  line-height: 1.2;
  margin: 0 0 0.6em 0;
}

p {
  margin: 0 0 1em 0;
}
