<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock head %}
    <title>Sandlab</title>
  </head>
  <body>
    <header class="site-header">
      <div class="header-inner">
        <a href="/" class="site-title">[ Sandlab ]</a>
        <nav class="site-nav">
          <ul>
            {% for item in config.extra.nav %}
            <li>
              {% set is_home = (current_path == "/") %}
              {% set is_active = (is_home and item.url == "/") or ((item.url != "/") and (current_path is starting_with(item.url))) %}
              <a href="{{ item.url }}" class="{% if is_active %}active{% endif %}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>
    <main class="page-content">
      <div class="wrapper">
        <section class="section">
          <div class="container">
            {% block content %} {% endblock content %}
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
