{% extends "base.html" %} 
{% block content %}
<h1 class="page-title">{% block title %}{{ section.title | safe }}{% endblock title %}</h1>
<div>{{ section.content | safe }}</div>
<div>
  <ul class="post-list">
    {% for post in section.pages %}
    <li class="post-item">
      <a href="{{ post.permalink }}" class="post-link">{{ post.title }}</a>
      <div class="post-meta-date">
        {% if post.date %}{{ post.date }}{% endif %}
      </div>
      <div class="post-meta-description">
        {% if post.description %}{{ post.description }}{% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
